<% # in app/views/jsonfiles/show.html.haml %>
<div class="content-container">

  <div class="back">
    <%= link_to 'Back to file list', xfiles_path %>
  </div>

  <div class="label_title">
    Filename
    <% @file_names.each do |xfile| %>
      <div class="prop-button drop-shadow">
        <%= link_to xfile.name, xfile_path(xfile) %>
      </div>
    <% end %>
  </div>

  <div class="label_title">
    Properties
  </div>

  <div class="prop_container">
    <% @shared_set.each do |prop| %>
      <div class="prop-button drop-shadow">
        <%= link_to "#{prop}", shared_files_path(prop[0]) %>
      </div>
    <% end %>
  </div>
</div>